<div *ngIf="imageList.length !== 0">
  <div class="slider-container">
    <div class="slider" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'" #imageContainer>
      <div *ngFor="let image of imageList; let i = index" class="slide">

        <img [src]="image" [class.active]="i === currentIndex"  class="slider-image" (mouseup)="panning =false"
        >
      </div>
    </div>
    <!--        ACTIONS-->
    <div class="nav_action">
      <a class="slider_btn slider-next" [class.disabled]="currentIndex  === imageList.length -1">
      </a>
      <a class="slider_btn slider-zoomOut">
      </a>
      <a class="slider_btn slider-zoomIn">
      </a>

      <a class="slider_btn slider-rotateLTR">
      </a>

      <a class="slider_btn slider-rotateRTL">
      </a>

      <a class="slider_btn slider-rotate90LRT">
      </a>

      <a class="slider_btn slider-rotate90RTL">
      </a>
      <a class="slider_btn slider-prev" [class.disabled]="currentIndex == 0">
      </a>
    </div>
    <!--        FULL SCREEN-->
    <a class="slider_btn slider-full"><i class="fa fa-expand"></i></a>
  </div>


  <div class="thumbnail-slider mt-2 gap-3 d-flex">
    <div *ngFor="let image of imageList; let i = index">
      <img [src]="image" [class.active]="i === currentIndex">
    </div>
  </div>
</div>
